body {
    background-color: black;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,td {
    border: 1px solid #750606bb;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #1f0606;
    cursor: pointer;
    /* Add cursor pointer for clickable header */
}

#selectState {
    margin-bottom: 10px;
    color: black;
}